.contextOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.contextOverlayFixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.contextContainer {
    position: absolute;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    /* for real browsers */
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 2;
}
