.equals {
    display: flex;
    flex-direction: column;
    small {
        padding: 0;
    }

    .clickable {
        cursor: pointer;
        color: var(--content-copy);
        &:hover {
            text-decoration: underline;
        }
    }
}
