.cypressGenerator {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 450px;

    .testSuite,
    .testDescription {
        width: 100%;
        margin-bottom: 1rem;
    }

    ul,
    .textArea {
        flex: 1 1 auto;
        word-break: break-all;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        overflow: auto;
        max-height: 290px;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--dividers);
            padding: 0.5rem 1rem;
        }
    }
}

.extraOptions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: -1px;

    .basic-auth {
        flex: 0 0 auto;
    }
}

.headerContainer {
    flex: 1 1 auto;
    border: 1px solid var(--dividers);
}
