.ul {
    flex: 1 1 auto;
    border: 1px solid var(--dividers);
}

.noEvents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    border: 1px solid var(--dividers);
}
