.tableContainer {
    max-height: 250px;
    overflow: auto;
    .table {
        th {
            position: sticky;
            top: 0;
            background-color: var(--product-background);
            z-index: 1;
        }

        .input {
            width: 100%;
        }
    }
}
